<div class="container-fluid">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="header">
                <h4>Create Crossword</h4>
            </div>
            <div *ngIf="pickSizeMode">
                <app-configure-board [board]="board" (sizeSet)="nextStep($event)"></app-configure-board>
            </div>
            <div *ngIf="!pickSizeMode">
                <app-add-questions [board]="board" (save)="save()"></app-add-questions>
            </div>
        </div>
    </div>
</div>