$empty-cell-color: #ababab
$occupied-cell-color: #ffffff
$selected-cell-color: #5af091

$cell-hover: #abd7ff

$board-outline-color: #6d6868
$letter-color: #383737

$separator-blue: #adadf3
$sub-separator-blue: #9192fd

.clickable
    &:hover
        background-color: $cell-hover
        cursor: pointer

.cell 
    border: 1px solid $board-outline-color
    height: 40px
    width: 40px
    text-align: center
    
    .identifier
        z-index: 1
        position: absolute
        font-size: .85em
        color: blue
    
    .letter
        font-family: monospace
        font-size: 1.3em
        font-weight: 700
        z-index: 5
        position: absolute
        // background-color: green
        height: 35px
        width: 35px
        padding: 7px
        margin: 0
        display: table-cell
        vertical-align: middle

.invalidFeedback
    color: red
    font-size: .75em
    text-align: left
    visibility: hidden

#submitBtn
    cursor: pointer

.emptyCell
    background-color: $empty-cell-color

.occupiedCell
    background-color: $occupied-cell-color
    font-family: monospace
    text-transform: capitalize
    color: $letter-color

.selectedCell
    background-color: $selected-cell-color



#questions
    
    .question
        p, h6
            margin-right: 5%
            vertical-align: middle
            margin-bottom: 0

    hr
        background-color: $separator-blue
        margin-top: 2%

    .questionsList
        text-align: left

        .questionOrientation
            font-size: 1em
            font-weight: 700
            margin-bottom: 1%
        
        hr
            margin-top: 1%
            background-color: $sub-separator-blue
    
    #questionsHeader
   

    .question
    font-size: .8em

.btn-group
    padding-left: 0
    padding-right: 0

.alert
    font-size: .95em

#answerMaxLengthValidation
    visibility: visible


.questionItem
    border-top: 1px solid grey
    border-radius: 2%
    padding: 4%

    &:hover
        cursor: pointer
        background-color: pink
