<div class="container-fluid" style="text-align: left;">
    <br>
    <div class="row">
        <h4 class="col-8">Play Crossword</h4>
        <div class="col-4 btn-group">
            <button class="btn btn-outline-info btn-sm" (click)="check()"  tabindex="-1">Check</button>
            <button class="btn btn-outline-info btn-sm" (click)="reveal()" tabindex="-1">Reveal</button>
            <button class="btn btn-outline-info btn-sm" (click)="revealAll()" tabindex="-1">Reveal All</button>
        </div>
    </div>
    <hr>
    <div class="row">

        <!-- board -->
        <div class="col-sm-12 col-md-6 board">
            <div class="d-flex justify-content-center align-items-center">
                <div *ngFor="let row of board?.boardMap; let i = index" class="flex-row">
                    <div *ngFor="let col of row; let j = index" class="cell emptyCell"  id="{{'cell-' + i + '_'+ j}}">
                        <div *ngIf="isClickable(i, j)" (click)="selectCell(i, j)">
                            <p class="identifier"></p>
                            <p class="letter"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- questions -->
        <div class="col-sm-11 col-md-6 questions mt-4 mt-md-1" id="questions"> 
            <div class="row">
                <div class="card bg-light text-info col-xs-10 col-md-9" >
                    <div class="card-body d-flex  align-items-center question" *ngIf="selectedQuestion">
                        <p class="text-secondary">{{selectedQuestion?.identifier}}</p>
                        <p class="h5">{{selectedQuestion?.clue}}</p>
                        <p class="text-secondary">({{selectedQuestion?.answer.length}})</p>
                    </div>
                    <div class="card-body question" *ngIf="!selectedQuestion">
                        Welcome! Please select a cell or question to begin playing.
                    </div>
                </div>
                <div class="col-xs-2 col-md-3" style="text-align: center;">
                    <p class="h1 col">{{timer | timer}}</p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-6 across">
                    <h6>Across</h6>
                    <div *ngFor="let question of questionsAcross;" class="questionItem d-flex" (click)="selectQuestion(question)" id="{{'question-' + question.identifier}}" [ngClass]="checkIfAnswered(question)">
                       <p class="text-secondary">{{question.identifier}}</p>
                       <p>{{question?.clue}}</p>
                       <p class="text-secondary">({{question?.answer.length}})</p>
                    </div>
                </div>
                <div class="col-6 down">
                    <h6>Down</h6>
                    <div *ngFor="let question of questionsDown;" class="questionItem d-flex" (click)="selectQuestion(question)" id="{{'question-' + question.identifier}}" [ngClass]="checkIfAnswered(question)">
                        <!-- <p>{{question.answer}}</p> -->
                        <p class="text-secondary">{{question.identifier}}</p>
                        <p>{{question?.clue}}</p>
                        <p class="text-secondary">({{question?.answer.length}})</p>                    
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
