<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <div class="board d-flex justify-content-center align-items-center">
                <div *ngFor="let row of board?.boardMap; let i = index" class="flex-row">
                    <div *ngFor="let col of row; let j = index" class="cell emptyCell" (click)="selectCell(i, j)" id="{{'cell-' + i + '_'+ j}}">
                        <p class="letter mx-auto"></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col">
                <hr>
                <div *ngIf="addQuestionMode">
                    <form [formGroup]="questionFormGroup" >
                        <div class="form-group row">
                            <div class="btn-group btn-group-sm btn-group-toggle col-9 offset-1">
                                <label class="btn btn-outline-info active col-form-label" id="downLabel" #downLabel (click)="toggleOrientation('down')">
                                    <input type="radio" name="orientation" class="form-control form-control-sm" id="down" autocomplete="off">Down
                                </label>
                                <label class="btn btn-outline-info" id="acrossLabel" (click)="toggleOrientation('across')">
                                    <input type="radio" name="orientation" id="across" class="form-control form-control-sm" #acrossLabel autocomplete="off" checked>Across
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <input type="text" class="form-control form-control-sm col-9 offset-1" required placeholder="Question...." formControlName="clue" #clue id="clueField">
                            <div id="clueRequiredFeedback" class="invalidFeedback col-2 col-form-label">Required!</div>                        
                        </div>
                        <div class="form-group row">
                            <input type="text" maxlength={{maxAnswerLength.toString()}} class="form-control col-9 offset-1 form-control-sm" required (keyup)="onKey($event)" placeholder="Answer...." formControlName="answer" id="answerField">
                            <div id="answerRequiredFeedback" class="invalidFeedback col-2 col-form-label">Required!</div>                        
                        </div>
                        <div class="form-group row"  >
                            <button (click)="addQuestion()" id="submitBtn" (mouseenter)="mouseOverSubmit(true)" (mouseleave)="mouseOverSubmit(false)" [disabled]="checkValidity()" class="btn btn-success btn-sm col-4 offset-3">Submit</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="!addQuestionMode">
                    <div class="alert alert-warning">
                        Select a cell to add a question.
                    </div>
                </div>
                <hr>
                <div class="questions">
                    <h5 class="font-weight-bold" id="questionsHeader">Questions</h5>
                    <hr>
                    <div class="row">
                        <div class="col questionsList" id="questionsAcross">
                            <p class="questionOrientation">Across</p>
                            <hr>
                            <p *ngFor="let question of questionsAcross" class="question">{{question.clue}} ({{question.answer.length}}) </p>
                        </div>
                        <div class="col questionsList" id="questionsDown">
                            <p class="questionOrientation">Down</p>
                            <hr>
                            <p *ngFor="let question of questionsDown" class="question">{{question.clue}} ({{question.answer.length}})</p>
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="saveBoard()" class="btn btn-outline-success btn-sm col-8 offset-2" id="saveCrosswordBtn">Save Crossword</button>
                    </div>
                </div>
            </div>
        </div>
</div>
        