.cell 
    border: 1px solid blue
    height: 27px
    width: 27px

    &:hover
        color: red
    
    .letter
        height: 100%
        width: 100%
        text-align: center

.resizable
    cursor: all-scroll

.nonResizable
    cursor: inherit

.highlighted
    background-color: yellow