@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway:800|Staatliches')

.cell 
    border: 1px solid #0074D9
    height: 27px
    width: 27px

    &:hover
        color: red
    
    .letter
        height: 100%
        width: 100%
        text-align: center

.resizable
    cursor: all-scroll

.nonResizable
    cursor: inherit

.highlighted
    background-color: #FFDC00 

.header
    font-family: Staatliches, cursive
    border-bottom: 2px solid blue

.sub-header
    margin-top: 5%
    font-family: Open Sans, sans-serif

#resizeBtn
    background-color: #0091EA
    color: white
    font-weight: 700    

#nextStepBtn
    background-color: #43A047
    color: white
    font-weight: 700