<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-7">
            <div *ngIf="resizeMode" class="resizable">
                <div class="board d-flex justify-content-center " (click)="resize()">
                    <div *ngFor="let row of rows" class="flex-row">
                        <div *ngFor="let col of cols" class="cell" (mouseenter)="overCell(row, col)" id="{{'cell-' + row + '_'+ col}}">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!resizeMode" class="nonResizable">
                <div class="board d-flex justify-content-center align">
                    <div *ngFor="let row of rows" class="flex-row">
                        <div *ngFor="let col of cols" class="cell">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" style="text-align: left;">
            <h2>Set Size</h2>
            <hr>
            <h6>Size: <strong>{{numCols}} Rows</strong> by <strong>{{numRows}} Columns</strong>.</h6>
            <br>
 
            <div class="form-group row">
                <button (click)="resizeBoard()" class="btn btn-info col-12">Resize</button>
            </div>
            <br>
            <div class="form-group row">
                <button (click)="nextStep()" id="nextStepBtn" class="btn btn-success col-12">Next</button>
            </div>

        </div>
    </div>
    <br>
    
    
</div>