<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-4">
            <app-stats-widget [stats]="boardStats"></app-stats-widget>
        </div>
        <div class="col-8">
            <div class="header d-flex justify-content-between">
                <div class="h6">Crosswords</div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">All</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Played</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Unplayed</button>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let board of boards" id="boardList" class="col-xs-12 col-sm-6 col-md-3 p-0">
                    <app-crossword-thumb [board]="board" (deleteBoard)="delete(board)"></app-crossword-thumb>
                </div>
            </div>
        </div>
    </div>
</div>

