<div class="container-fluid">
    <div class="row">
        <app-board #appBoard class="col-6" [board]="board" [(selectedCell)]="selectedCell" [orientation]="orientation" [answer]="answerArr.join('')" ></app-board>
        <div class="col-6">
            <div class="row d-block">
                <app-question-form [conflict]="conflict" [addQuestionMode]="addQuestionMode" [editQuestionMode]="editQuestionMode" [(answerArr)]="answerArr" [maxAnswerLength]="maxAnswerLength" [(orientation)]="orientation" (addQuestion)="addQuestion($event)"></app-question-form>
                <app-question-list [questions]="questions" (questionToDelete)="deleteQuestion($event)" (questionToEdit)="editQuestion($event)" (triggerCrosswordSave)="saveCrossword()"></app-question-list>
            </div>
        </div>
    </div>
</div>