#questionsList
    margin-bottom: 5%
    
    .questionItem
        border: 1px solid grey
        margin: 1%
        display: flex
        align-items: center
        padding: 2%
        justify-content: space-between

        .icons
            visibility: hidden
            width: 15%
            display: flex
            justify-content: space-between


        &:hover
            cursor: pointer

            .icons
                visibility: visible
