<div id="body">
    <div *ngIf="questions.length">
        <h4 class="header">Questions</h4>
        <div class="row" id="questionsList">
            <!-- questions across -->
            <div class="col-6">
                <p class="sub-header">Across</p>
                <div *ngFor="let question of questionsAcross" class="questionItem">
                    <span>{{question.clue}}</span>
                    <div class="icons">
                        <span class="editIcon" (click)="editQuestion(question)"><i class="far fa-edit text-info"></i></span>
                        <span class="deleteIcon" (click)="deleteQuestion(question)"><i class="far fa-trash-alt text-danger"></i></span>
                    </div> 
                </div>
            </div>
            <!-- questions down -->
            <div class="col-6">
                <p class="sub-header">Down</p>
                <div *ngFor="let question of questionsDown" class="questionItem">
                    <div>{{question.clue}}</div>
                    <div class="icons">
                        <span class="editIcon" (click)="editQuestion(question)"><i class="far fa-edit text-info"></i></span>
                        <span class="deleteIcon"  (click)="deleteQuestion(question)"><i class="far fa-trash-alt text-danger"></i></span>
                    </div>           
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <button class="btn btn-sm" id="saveBtn" style="width: 100%" (click)="saveCrossword()">Save Crossword</button>
            </div>
        </div>
    </div>
</div>