<div class="container-fluid" id="body">
    <div id="main" class="">
        <div id="mod">
            <p id="welcomeMsg">Welcome.</p>
            <p id="introductionMsg">Create, share and play crosswords</p>
            <button id="loginBtn" class="btn btn-success" (click)="login()">Login</button>
            <div class="row mt-3" id="signupMsg">
                <span class="col text-white-50">Dont have an account? <button class="btn btn-dark ml-2" id="signupBtn" (click)="login()">Sign Up</button></span>
            </div>
        </div>
    </div>
</div>