<div class="container-fluid body">
    <div>
        <div class="d-flex flex-column justify-content-center">
            <h6 id="pleaseWait" class="display-4">Please Wait....</h6>
            <p id="findingOpponent">Finding an Opponent - {{numUsersOnline }} users online</p>
        </div>

        <div class="d-flex justify-content-center mb-1">
            <!-- <mat-spinner [strokeWidth]="15" [diameter]="100" id="loading-spinner"></mat-spinner> -->
            <img src="../../../../assets/loading.gif" alt="" srcset="">
        </div>

        <div class="d-flex justify-content-center mt-1">
            <button class="btn btn-lg btn-warning" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>