<div class="container-fluid">
    <br>
    <div class="row">

        <!-- stats -->
        <div class="col-xs-12 col-sm-4" id="statsWidget">
            <app-stats-widget [_stats]="boardStats"></app-stats-widget>
        </div>

        <!-- crosswords -->
        <div class="col-xs-12 offset-sm-1 col-sm-7 offset-md-0 col-md-8">
            <div class="d-flex">
                <div class="header h6">Crosswords</div>

                <!-- filters -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-dark active" (click)="filterCrosswords('all')">
                        <input type="radio" name="crosswordsFilter" autocomplete="off"> All
                    </label>
                    <label class="btn btn-sm btn-outline-dark " (click)="filterCrosswords('played')">
                        <input type="radio" name="crosswordsFilter" autocomplete="off"> Played
                    </label>
                    <label class="btn btn-sm btn-outline-dark" (click)="filterCrosswords('unplayed')">
                        <input type="radio" name="crosswordsFilter" autocomplete="off"> Unplayed
                    </label>
                </div>
            </div>

            <!-- crossword thumbs -->
            <div class="row">
                <div *ngFor="let board of filteredBoards" id="boardList" class="col-xs-12 col-sm-12 col-md-3 p-0">
                    <app-board-thumb [board]="board" [recordStat]="getRecordStat(board)"
                        (deleteBoard)="delete(board)"></app-board-thumb>
                </div>
                <div *ngIf="!filteredBoards" class="col-12 d-flex align-content-center justify-content-center spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
    </div>
</div>