<div class="container-fluid body d-flex flex-column">
    <h3 class="display-2 ml-3" id="message">Oops!</h3>
    <div class="d-block">
        <div class="">
            <div class="line d-flex">
                <div class="cell"></div>
                <div class="occupiedCell">
                    <p class="identifier">1</p>
                    <p class="letter">F</p>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="line d-flex">
                <div class="occupiedCell">
                    <p class="identifier">2</p>
                    <p class="letter">N</p>
                </div>
                <div class="occupiedCell">
                    <p class="letter">O</p>
                </div>
                <div class="occupiedCell">
                    <p class="letter">T</p>
                </div>
                <div class="cell"></div>
            </div>
            <div class="line d-flex">
                <div class="cell"></div>
                <div class="occupiedCell">
                    <p class="letter">U</p>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="line d-flex">
                <div class="cell"></div>
                <div class="occupiedCell">
                    <p class="letter">N</p>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="line d-flex">
                <div class="cell"></div>
                <div class="occupiedCell">
                    <p class="letter">D</p>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
        </div>
    </div>    
</div>